/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.banner {
  background-image: url(https://lewagon.github.io/landing-page-challenge/images/background.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner > .container {
  width: 900px;
  margin: auto;
  color: white;
}

.banner > .container > .h1 {
  font-size: 16px;
}

.apply-button {
  background-color: #1EDD88;
  padding: 16px 36px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  display: inline-block
}
